<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card card-block">
        <h4 class="card-title">Your account</h4>
        <p class="card-text"><% current_user.email %></p>
      </div>
    </div>

    <div class="col-md-8">
      <% if user_signed_in? %>
        <% link_to "New tweet", new_tweet_path %>
      <% end %> 

    <ul class="list-group">
        <% @tweets.each do |tweet| %>
        <li class="list-group-item">
          <h5 class="list-group-item-heading"> <%= tweet.user.email %> </h5>
          <p class="list-group-item-text"> <%= tweet.content %> </p>
          <p class="list-group-item-text"> <%= link_to "Show", tweet %> </p>
          <% if tweet.user == current_user %>
            <p class="list-group-item-text"> <%= link_to "Edit", edit_tweet_path(tweet) %> </p>
            <p class="list-group-item-text"> <%= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" } %> </p>
          <%end%>
        </li>
          <% end %>  
          </ul>
      <br>
    </div>
  </div>
</div>